
<%- include ../partials/header.ejs %>

  <h1>Add New Game</h1>
  <form  id="edit-form" method="post" action="/games/<%= game.dataValues.name %>">
    <input type="text" name="name" value="<%= game.dataValues.name %>">
    <input type="text" name="description" value="<%= game.dataValues.description %>">
    <input type="submit" value="Add new game">
  </form>

<%- include ../partials/footer.ejs %>
