<%- include ../partials/header.ejs %>

  <h1>Edit Game</h1>
  <!-- <h2><%= game.name %></h2>
  <h2><%= game.description %></h2> -->
<ul>

    <li><a href="/games/<%= game.dataValues.name %>"><%= game.dataValues.name %>: <%= game.dataValues.description %></a></li>

</ul>
  <form id='editForm' method='post' action='/games/<%= game.dataValues.name %>'>
    <input type='text' name='name' value="<%= game.dataValues.name %>">
    <input type='text' name='description' value="<%= game.dataValues.description %>">
    <input type='submit' value="Submit Changes">
  </form>




<%- include ../partials/footer.ejs %>
