<!DOCTYPE html>
<html>
<head>
	<title>Edit Game Info</title>
</head>
<body>
	<%- include ../partials/header.ejs %>
	<h1>Enter edits to <%= game.name %></h1>
	<form class='edit-game' method="POST" action="/games">
	  	<input type='text' name='name' placeholder='Enter a game name' value='<%= game.name %> '>
	  	<input type='text' name='description' placeholder='Enter description'value='<%= game.description %> '>
	  	<input type='submit' value='Update game info'>
  	</form>

  	<button class="delete-game" type="button" action="/games/<%= game.name %>">Delete Game</button>
</body>
</html>