
<%- include ../partials/header.ejs %>
<div>
  <a href="/">Home</a>
  <a href="/games/new">Add New Game</a>
  <a href="/games">List All Games</a>
</div>


  <h1>All of My Games</h1>
  <ul>
    <% games.forEach(function(game) { %>
      <li><a href="games/<%=game.dataValues.name%>/edit">edit </a><a class="delete-link" href="games/<%=game.dataValues.name%>">Delete </a><%= game.dataValues.name %>: <%= game.dataValues.description %> </li>
    <% }); %>

  </ul>



<%- include ../partials/footer.ejs %>
