<%- include ../partials/header.ejs %>
<%- include ../partials/nav.ejs %>
<div class="">
  <h1>All of My Games</h1>
    <ul>
      <% games.forEach(function(game){ %>
        <li>
            <a href="/games/ <%= game.id %> /edit" class="edit-link"> EDIT  - </a>
            <a  href="/games/ <%= game.id %> /destroy" class="delete-link"> DELETE  </a>
            <%= game.name %>: <%= game.description %>
        </li>
      <% }); %>
    </ul>
</div>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script>
    $('edit-link').on('click', function(event){
      event.preventDefault();
      var gameObj = $(this);
      var gameUrl = gameObj.attr('href');
      console.log(gameUrl);
      $.ajax({
        method: 'UPDATE',
        url: gameUrl
      }).done(function(data){
        console.log(data);
        window.location = "/games";
      });
    });
    $('delete-link').on('click', function(event){
      event.preventDefault();
      var gameObj = $(this);
      var gameUrl = gameObj.attr('href');
      console.log(gameUrl);
      $.ajax({
        method: 'DELETE',
        url: gameUrl
      }).done(function(data){
        console.log(data);
        window.location = "/games";
      });
    });
  </script>
<%- include ../partials/footer.ejs %>
