<%- include ../partials/header.ejs %>
<%- include ../partials/nav.ejs %>
  <div class="game">
    <h1>Games Created</h1>
      <ul>
          <li>
            <%=game.id%>: <%=game.name%>: <%=game.description%>
          </li>
      </ul>
  </div>
<%- include ../partials/footer.ejs %>
