<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<%- include ../partials/header.ejs %>

  <h1><%= game.name %></h1>
  <ul>
  		<li> <%= game.name %> - <%= game.description %></li>
  </ul>

<%- include ../partials/footer.ejs %>


</body>
</html>