<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<%- include ../partials/header.ejs %>

  <h1><%= game[0].name %></h1>
  <ul>
  		<li> <%= game[0].name %> - <%= game[0].description %></li>
  </ul>

<%- include ../partials/footer.ejs %>


</body>
</html>